.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.empty {

    height: 60px;
    width: 100%;
}

.themebutton {
    margin-right: 7px;
}

.dive-menu {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: center;
    width: fit-content;
    margin-right: 15px;

}

.dive-menu p {

    margin-right: 5px;

}

.menu-plus-dropdown {

    width: 1rem;
    background-color: rgb(102, 74, 74);
}


.MainHead {

    color: rgb(94, 47, 47);
    font-size: 1.4rem;
    font: bold;
    text-align: center;
    border: 3px solid black;
    width: 250px;


}

.img-box {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.profile-pic {

    height: 6rem;
    width: max-content;
    border-radius: 50%;

}


.profile-links {
    margin-left: 6rem;
    justify-content: center;
    align-content: center;
    align-items: start;
    flex-direction: column;
    display: flex;
}

.bottom-line {
    height: 20px;
    width: 100%;
    justify-content: space-around;
    display: flex;
}

body {

    background-color: rgba(175, 213, 182, 0.982);
    margin: 18px;
    border: 5px solid black;
    padding: 0px;

}

.inner-body {

    background-color: navajowhite;
    padding: 10px;
}

.GoTo {



    font-weight: bolder;
    color: black;
    text-align: left;

}

#Circle {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 25px;
    margin-top: 10px;

}

#Oval {
    width: 100px;
    height: 50px;
    background-color: orange;
    border-radius: 100px / 50px;
    margin-top: 10px;

}

#Rom {


    background-color: tomato;
    height: 50px;
    width: 50px;
    transform: skew(-20deg);
    margin-left: 10px;
    margin-top: 10px;

}

button {

    background-color: bisque;
}


.blog-div {


    height: 50rem;
    
}

.blogs {
    padding: 5px;
    height: 60px;
    background-color: #d12c2c;
    width: 94%;
    margin-top: 5px;
    margin-left: 5px;
}

.blog-img {
    width: 60px;
     height: 3rem;
      background-color: aliceblue;
}