body{

    
    margin: 0;
    border: 0;
    box-sizing: border-box;
    margin: 5px;
    background-color: #b722ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar{

    height: 40px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbcedf;
    border: 2px solid;
    
}

.heading{

    padding: 5px;
    height: fit-content;
    
    
    
}
.heading h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif, RobotoDraft, Helvetica, Arial, sans-serif;
    
    background-color: #bbdc96;
    font-size: 1rem;
    padding: 3px;
}

.projects{
    
    background-color: rgb(230, 225, 225);
    border-radius: 12px;
    box-sizing: border-box;
    color: initial;
    display: flex;
    flex-direction: column;
    max-width: 185px;
    height: 245px;
    position: relative;
    justify-content: space-evenly;
    padding: 2.5px;
    margin-right: 28px;
    border: 2px solid;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.project-row1{

    display:flex;
    justify-content:space-evenly;
    align-items: center;
    height:20rem;
}

.project-row2{

    display:flex;
    justify-content:space-evenly;
    align-items: center;
    height:20rem;
}
.project-img {
    position: relative;
    margin: 5px;
    width: 60%;
    background-color: rgb(140, 140, 200);
    height: 5rem;
    background-size: cover;
    left: 15%;
    border-radius: 5px;
}

.project-about{
    padding: 5px;
    height:10rem ;
    margin: 5px;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}
.project-about-para{

    font-size:small;
}

.divide{
    display: flex;
}

@media all and (max-width:600px)
{  

    body {
        background-color: #b722ff;
        margin: 0;
        border: 0;
        box-sizing: border-box;
        margin: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }
    .nav-bar{

        height: 40px;
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #bbcedf;
        border: 2px solid;
        
    }
    .project-row1 {
       

        display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    flex-direction: column;
    margin-top: 35px;
    }
    .project-row2 {
        

        display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    flex-direction: column;
    margin-top: 35px;
    }

    .projects {
        background-color: rgb(230, 225, 225);
        border-radius: 12px;
        box-sizing: border-box;
        color: initial;
        display: flex;
        flex-direction: column;
        max-width: 45vw;
        position: relative;
        justify-content: space-evenly;
        padding: 2.5px;
        height: 30vh;
        margin: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .divide {
    display: flex;
    justify-content: space-between;
}



    .project-img {
        position: relative;
        margin: 5px;
        width: 60%;
        background-color: rgb(162 162 227);
        height: 5rem;
        background-size: cover;
        left: 15%;
    }

    .project-about-para{

        font-size: 0.8rem;
        padding: 5px;
    height: 6rem;
    margin: 5px;
    background-color: white;
    font-family: Verdana, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: small;
    }


}


