body{

    background-color: #ffffff;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    margin: 5px;
}

.nav-bar{

    height: 40px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.heading{

    padding: 5px;
    height: fit-content;
    
    
    
}
.heading h1{
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    
    background-color: #bbdc96;
    font-size: 1rem;
    padding: 3px;
}

.projects{
    background-color:rgb(230, 225, 225);
    border-radius: 12px;
    box-sizing: border-box;
    color: initial;
    display: flex;
    flex-direction: column;
    max-width: 180px;
    position: relative;
    justify-content: space-evenly;
    padding: 2.5px;
    height: 70%;
}
.project-row1{

    display:flex;
    justify-content:space-evenly;
    align-items: center;
    height:20rem;
}

.project-row2{

    display:flex;
    justify-content:space-evenly;
    align-items: center;
    height:20rem;
}
.project-img {
    position: relative;
    margin: 5px;
    width: 60%;
    background-color: rgb(140, 140, 200);
    height: 5rem;
    background-size: cover;
    left: 15%;
    border-radius: 5px;
}

.project-about{
    padding: 5px;
    height:10rem ;
    margin: 5px;
    background-color: white;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: small;
}
.project-about-para{

    font-size:small;
}

@media all and (max-width:600px)
{  

    body {
        background-color: #ffffff;
        margin: 0;
        border: 0;
        box-sizing: border-box;
        margin: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }
    .project-row1 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: fit-content;
        flex-direction: column;
    }
    .project-row2 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height:fit-content;
        flex-direction: column;
        margin-top: 10px;
    }

    .projects {
        background-color: rgb(230, 225, 225);
        border-radius: 12px;
        box-sizing: border-box;
        color: initial;
        display: flex;
        flex-direction: column;
        max-width: 60vw;
        position: relative;
        justify-content: space-evenly;
        padding: 2.5px;
        height: 58vh;
        margin: 5px;
    }



    .project-img {
        position: relative;
        margin: 5px;
        width: 60%;
        background-color: rgb(162 162 227);
        height: 5rem;
        background-size: cover;
        left: 15%;
    }

    .project-about-para{

        font-size: 0.8rem;
    }


}


